---
import { getCollection } from 'astro:content';

export interface Props {
  collection?: 'customElements' | 'application' | 'styles' | 'principles';
}

const { collection = 'customElements' } = Astro.props;
const items = await getCollection(collection);

items.sort((a, b) => {
  const titleA = a.data?.title?.toLowerCase() || '';
  const titleB = b.data?.title?.toLowerCase() || '';
  return titleA.localeCompare(titleB);
});

const collectionSlug =
  collection === 'customElements'
    ? 'custom-elements'
    : collection === 'application'
      ? 'application'
      : collection === 'principles'
        ? 'principles'
        : collection === 'styles'
          ? 'styles'
          : 'custom-elements';

const collectionTitle =
  collection === 'customElements'
    ? 'Custom Elements'
    : collection === 'application'
      ? 'Application'
      : collection === 'principles'
        ? 'Principles'
        : collection === 'styles'
          ? 'Styles'
          : 'Custom Elements';
---
<section>
  <h2>{collectionTitle}</h2>
  <ul>
    {items.map(item => (
      <li>
        <a href={`/${collectionSlug}/${item.id}`}>
          <cn-icon noun={item.data.noun} small/>
          <span>{item.data.title}</span>
        </a>
      </li>
    ))}
  </ul>
</section>