---
//import Rail from "src/components/base/Rail.astro";
//import BaseHead from "../components/base/BaseHead.astro";
import AppBar from '@components/base/AppBar.astro';
import 'cyan-css';
import '../overrides.css';
import Footer from '@components/base/Footer.astro';
import Rail from '@components/base/Rail.astro';
import 'lato-font';

interface Props {
  title?: string;
  shortTitle?: string;
  noun?: string;
  modal?: boolean;
  tray?: boolean | undefined;
}

const { title, shortTitle, noun, modal, tray } = Astro.props as Props;

const mode = modal ? 'modal' : undefined;

const resolvedTitle = title || '';
const resolvedShortTitle = shortTitle || '';
const resolvedNoun = noun || '';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
   
    <script>
      import 'cyan-lit';
      import 'cn-dice';
    </script>
  </head>
  <body>
    <AppBar
      mode={mode}
      title={resolvedTitle}
      shortTitle={resolvedShortTitle}
      noun={resolvedNoun}
    />
    {tray && (
      <>
        <cn-tray-button aria-controls="#tray"></cn-tray-button>
        <nav id="tray" aria-expanded="true">
          <slot name="tray" />
        </nav>
      </>
    )}
    <Rail />
    <main>
      <!-- Main content area, all other content is slotted to named slots, if any  -->
      <slot />
      <Footer />
    </main>
    <nav id="fab-tray">
      <slot name="fab" />
    </nav>
  </body>

<script>
  // Client only, import client-side design-system addons/plugins
  import 'cn-editor';
  import 'cn-story-clock';
  import 'cn-d20-ability-score';
</script>

</html>
