---
//import Rail from "src/components/base/Rail.astro";
//import BaseHead from "../components/base/BaseHead.astro";
import AppBar from '@components/base/AppBar.astro';

interface Props {
  title?: string;
  shortTitle?: string;
  noun?: string;
  modal?: boolean;
  tray?: boolean | undefined;
}

const { title, shortTitle, noun, modal, tray } = Astro.props as Props;

const mode = modal ? 'modal' : undefined;

const resolvedTitle = title || '';
const resolvedShortTitle = shortTitle || '';
const resolvedNoun = noun || '';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <script>
      import 'cyan-lit';
    </script>
  </head>
  <body>
    <AppBar
      mode={mode}
      title={resolvedTitle}
      shortTitle={resolvedShortTitle}
      noun={resolvedNoun}
    />
    {tray && (
      <>
        <cn-tray-button aria-controls=".cn-tray"></cn-tray-button>
        <nav class="cn-tray">
          <slot name="tray" />
        </nav>
      </>
    )}
    <!--Rail /-->
    <main>
      <!-- Main content area, all other content is slotted to named slots, if any  -->
      <slot />
    </main>
    <footer>
      <slot name="app-footer" />
    </footer>
  </body>
</html>

<style>
  @import '@fontsource/open-sans';
  @import 'lato-font/css/lato-font.css';
  @import 'cyan-css';
</style>